<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="section" style="background: #d3d3d33d;">
    <div class="row columns is-multiline">

      <% @shots.each do |shot| %>
        <div class="column is-4">
          <div class="card large">
            <div class="card-image" style="padding: 5px;">
              <figure class="image">
                <img src="https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?dpr=1&auto=compress,format&fit=crop&w=1920&h=&q=80&cs=tinysrgb&crop=" alt="Image">
              </figure>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shots.each do |shot| %>
      <tr>
        <td><%= shot.title %></td>
        <td><%= shot.description %></td>
        <td><%= shot.user_id %></td>
        <td><%= link_to 'Show', shot %></td>
        <td><%= link_to 'Edit', edit_shot_path(shot) %></td>
        <td><%= link_to 'Destroy', shot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->

<!--
<%= link_to 'New Shot', new_shot_path %>
-->